/* Import fonts from fonts.css file  */

@import url(fonts.css);

/* CSS Variables */

@import url(CSS/partials/_variables.css);

/* import global styling */

@import url(CSS/partials/_global.css);

/* Start Navigation  */

.header_area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar {
  padding: 1rem 3rem;
}
.header_area .main-menu .nav-item .nav-link {
  font: normal 500 15px/2x var(--roboto);
  text-transform: uppercase;
  padding: 0.5rem;
  color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* End Navigation  */

/* Banner Area */

.site-main .site-banner {
  background: url(img/img17.png) no-repeat 0% 85%;
}

.site-main .site-banner .site-title h3 {
  padding-top: 35%;
  font-weight: 500;
}

.site-main .site-banner h3::after {
  content: "";
  height: 2px;
  width: 18vw;
  background: black;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10px);
}

.site-main .site-banner h1 {
  font-size: 3rem;
}

.site-main .site-banner h4 {
  font-size: 1.5rem;
}

.site-main .site-banner img {
  padding: 7rem 0;
  width: 90rem;
}

/* End Banner Area */

/* Section Styling */

.about-area .container-fluid img {
  padding: 4rem 5rem;
  width: 40rem;
}

/* End Of Section Styling */

/* Start about area */

.site-main .about-area {
  padding: 10rem 7rem;
}

.site-main .about-area .about-title h2 > span {
  display: block;
  font: normal bold 50px/ 60px var(--roboto);
  letter-spacing: 20px;
}

.site-main .about-area .about-title .paragraph > p {
  padding: 0.4rem 0;
}

/* End of about area */

/* Start Brand Area */

.site-main .brand-area {
  padding: 1rem 20rem;
  margin-bottom: 4rem;
}

.site-main .brand-area .first-row .col-lg-4 {
  display: flex;
  justify-content: center;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand {
  border: 1px solid var(--border-color);
  text-align: center;
  padding: 1.8rem 0rem;
  margin: 0.9rem 0;
  width: 180px;
  height: 100px;
  cursor: 100px;
  transition: transform 0.4s ease;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand > img {
  width: 50%;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover {
  box-shadow: var(--roboto);
  transform: scale(1.1);
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover img {
  filter: brightness(0.15);
}

.site-main .brand-area .experience-area {
  padding-left: 1rem;
}

.site-main .brand-area .experience-area span {
  display: block;
}

.site-main .brand-area .experience-area .years-area {
  background: url(img/transparentimg.jpg) no-repeat 45px 20px;
  padding: 2rem 0;
  width: 40rems;
  height: 18rem;
  padding-left: 8rem;
  position: relative;
}

.site-main .brand-area .experience-area .bg-panel {
  position: absolute;
  left: -190px;
  top: 0%;
  background: lightgray;
  width: 400px;
  height: 400px;
  margin-left: 340px;
  z-index: -1;
}

.site-main .brand-area .experience-area .years-area .years {
  font: normal bold 84px/40px var(--roboto);
  color: var(--primary-color);
  z-index: 2;
}

.site-main .brand-area .experience-area .years-area .years h2 > span {
  font: normal 600 22px/30px var(--roboto);
}

.site-main .brand-area .experience-area .call-area {
  padding-left: 25rem;
  margin-top: 0;
}
/* End Of Brand Area */

/* Start Services Area */

.site-main .services-area {
  padding: 7rem 2rem;
}

.offset:before {
  height: 3.8rem;
  margin-top: -3.8rem;
  content: "";
  display: block;
}

.site-main .services-area .services-title {
  padding: 0 14rem;
}

.site-main .services-area .services-title h1 {
  font-size: 45px;
}

.site-main > .services-area .services {
  background: lightgray;
  padding: 2rem 0;
  width: 16rem;
  margin: 5rem 0.5rem;
  transition: box-shadow 0.7s ease;
  transition: scale(2.2);
  border-radius: 3rem;
}

.site-main > .services-area .services:hover {
  box-shadow: var(--box-shadow);
}

/* End Of Services Area */

/* Start Project Area */

.site-main .project-area {
  padding: 4rem 0;
}

.site-main .project-area .button-group button {
  background: transparent;
  border: none;
  font: normal 500 16px/130px var(--roboto);
  text-transform: uppercase;
}

.site-main .project-area .button-group button + button {
  padding-left: 3rem;
}

.site-main .project-area .grid .our-project > .title h4 {
  font: normal 700 25px/12px var(--roboto);
}

.site-main .project-area .grid .our-project .img a:hover img {
  filter: brightness(1.1) drop-shadow(1px 8px 30px gray);
}
/* End Of Project Area */

.site-main .project-area .portfolio-anchor {
  text-decoration: none;
}

/* Start What Client Say About Me */

.site-main .about-area .about-title p {
  padding: 1rem 7rem;
}

.site-main .about-area .client {
  background: lightgray;
  box-shadow: var(--box-shadow);
  margin: 3rem 0rem;
}

.site-main .about-area .client .client-img {
  padding: 2rem;
}

.site-main .about-area .client .about-client {
  padding-top: 2rem;
}

.site-main .about-area .client .about-client h4 {
  font: normal 500 21px/20px var(--roboto);
}

.site-main .about-area .client .about-client p {
  font-size: 14px;
}

.site-main .about-area .owl-carousel .owl-item {
  display: flex;
  justify-content: center;
  padding: 0 1.5rem;
}

.site-main .about-area .owl-carousel .owl-dots .owl-dot.active span {
  background: var(--primary-color);
  width: 12px;
  height: 12px;
}

/* End Of What Client Say About Me */

/* Subscribe Me  */

.site-main .subscribe-us-area .subscribe {
  background: url(img/transparentimg.jpg) no-repeat;
  padding: 10rem 0;
  margin: 3rem auto;
}

.site-main .subscribe-us-area .subscribe .subscribe-title h4 {
  font: normal 700 30px/30px var(--roboto);
  color: var(--primary-color);
}

.site-main .subscribe-us-area .subscribe .subscribe-title p {
  color: var(--primary-color);
  padding: 1rem 4rem;
}

.site-main .subscribe-us-area .subscribe form .input-textbox input {
  width: 400px;
  padding: 1.5rem 1rem;
  border: 1px solid gray;
  background: transparent;
  color: black;
  font: normal 500 17px/20px var(--roboto);
}

.site-main
  .subscribe-us-area
  .subscribe
  form
  .input-textbox
  input::placeholder {
  color: gray;
}

.site-main .subscribe-us-area .subscribe form .btn-submit button {
  background: gray;
  color: lightgray;
  padding: 0.7rem 2rem;
}
/* End Of Subscribe Me  */

/* Footer Area */

footer.footer-area {
  padding: 5rem 0;
  background: url(img/img17.png) no-repeat;
}

footer.footer-area .social h5 {
  font: normal 500 23px/30px var(--roboto);
}

footer.footer-area .social a > i {
  font-size: 22px;
  padding: 2rem;
  color: var(--border-color);
}

footer.footer-area .social a:hover > i {
  color: var(--primary-color);
}
/* End Of Footer Area */
