/* Global Classes */

.title-text {
  font: normal bold 50px/ 72px var(--roboto);
}

.button {
  padding: 0.8rem 2.2rem;
  font: normal 500 15px/ 20px var(--roboto);
  position: relative;
  border: 3px solid transparent;
  border-radius: 4px;
}

.button.primary-button {
  background: var(--primary-color);
  background-clip: padding-box;
  color: white;
  transition: background 0.6s ease;
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
}

.button.primary-button:hover {
  background: lightgray;
  background-clip: padding-box;
  color: black;
}

.button.primary-button::after,
.button.secondary-button::after {
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  left: -2px;
  background: var(--primary-color);
  content: "";
  z-index: -1;
  border-radius: 1rem;
}

.button.secondary-button {
  background: white;
  background-clip: padding-box;
  transition: background 0.6s ease;
  border-radius: 1rem;
}

.button.secondary-button:hover {
  background: var(--primary-color);
  color: lightgray;
  box-shadow: var(--box-shadow);
}

p.para {
  color: var(--text-color);
  font: normal 500 16px/ 25px var(--roboto);
}

.font-roboto {
  font-family: var(--roboto);
}

button:focus,
button:active button:hover .btn:active,
.btn.active {
  outline: 0px !important;
  box-shadow: none !important;
}

.title-h1 {
  font: normal bold 40px/40px var(--roboto);
}

.navbar_fixed {
  position: fixed;
  width: 100%;
  top: -1px;
  left: 0;
  right: 0;
  background: lightgray;
  box-shadow: var(--box-shadow);
  z-index: 999;
  transition: background 1s ease;
}
